*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    overflow: hidden;
    background-color: #e9e9e9;
}
.to{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(10em,auto);
}
.form{
    font-family: 'Roboto', sans-serif;
    border: 1px solid #80808000;
    height: 50em;
    width: 30em;
    grid-column: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 1em;
    box-shadow: 0em 0em 1em 0em black;
    background-color: white;
}
input[type=text]{
    padding: 1em;
    width: 70%;
}
input{
    display: block;
    border-bottom: 1px solid #000000;
    margin-top: 1em;
    margin-bottom: 1em;
    outline-style: none;
}
input[type=text]{
    padding: 5px;
    width: 70%;
}
input[type=password]{
    padding: 5px;
    width: 70%;
}
input[type="email"]{
        padding: 5px;
        width: 70%;
}
input#submit{
    padding: 1em;
    width: 50%;
    border-radius: 1em;
    border: none;
    position: absolute;
    bottom: 1em;
    cursor: pointer;
    background-color: rgb(145, 214, 231);
}
.h2{
    margin-top: 5em;
    margin-bottom: 3em;
}
label{
    display: block;
    font-weight: lighter;   
}
input#submit:hover{
    background: black;
    color: white;
}
.gg-smile-no-mouth {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 100px
}
.gg-smile-no-mouth::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    background: currentColor;
    left: 4px;
    box-shadow: 6px 0 0;
    width: 2px;
    border-radius: 10px;
    top: 5px
}